body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-content: center;
}

header {
  flex-direction: row;
  width: 100%;
  z-index: 20;
}


.header {
  height: 69px;
  border-bottom: 1px solid seashell;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 20;
  background-color: black;
}

#brandbox {
  padding-left: 10px;
  height: 50px;
}

#brandbox img {
  width: auto;
  height: auto;
  max-height: 50px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: space-between;
  text-align: right;
}

#navlinks {
  text-decoration: underline;
}

a {
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 70px;
}

.container img {
  width: 300px;
  height: 200px;
  padding: 0px 10px 0px 10px;
}

#mission {
  background-image: url(../../resources/images/img-mission-background.jpg);
  height: 700px;
  width: 1200px;
  display: flex;
  align-items: center;
}

#missiontext {
  display: flex;
  width: 1200px;
  height: 150px;
  text-align: center;
  background-color: black;
  flex-direction: column;
  vertical-align: middle;
}

h2 {
  margin-bottom: 10px;
}

#missiontext h4 {
  margin-bottom: : 1px;
}

#featuredtea {
  display: flex;
  flex-direction: column;
  width: 1000px;
  margin-bottom: 50px;
  margin-top: 50px;
}

#teas {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

#teas h4 {
  margin: 10px;
}

#row1 {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

#row2 {
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 15px;
}

#locations {
  background-image: url(../../resources/images/img-locations-background.jpg);
  background-size: 100% 140%;
  height: 500px;
  flex-direction: column;
  display: flex;
  width: 1200px;
  align-content: center;
  justify-content: center;
}

#addresses {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  opacity: 1;
  line-height: 150%;
}

#downtown {
  justify-content: space-around;
  width: 300px;
  background-color: black;
  margin-left: 70px;
}

#bayside {
  justify-content: space-around;
  width: 300px;
  background-color: black;
}

#oakdale {
  justify-content: space-around;
  width: 300px;
  background-color: black;
  margin-right: 70px;
}

footer {
  display: flex;
}

.footer {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 70px;
}

#footerblock {
  height: 200px;
}

#copyright {
  text-align: left;
  align-items: flex-start;
  padding-left: 20px;
}
